<div class="login-modal modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center">Edit Profile</h1>
      </div>
      <div class="modal-body">
        <h1>File Not Found.</h1>
        <h3>The page you are looking for does not exist.</h3>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">

          </div>
      </div>  
    </div>
  </div>
</div>