<div class="wrapper"> 
	<div class="page-wrapper">
		<div>
  		<div>
				
				<div class="col-md-4">
          <div class="panel" >
         		<div class="panel-body">
              <div>
            		<img class="img-responsive"
								<%= image_tag @profile.image.url(:medium) %>
								<h1><%= @profile.name %></h1>
								<p> <%= @profile.bio %></p>
		            <%= link_to("Message #{@profile.name}", new_message_path(message_receiver_id: @profile.id), class: "btn btn-primary btn-large")%>
							</div>
						</div> 
          </div>
      	</div>

    		<div class="col-md-7" id="content">
          <div class="well text-center"> 
					  <p>put content here</p>
          </div>
				</div>

			</div>
		</div>
  </div>
</div>

                  
                 
               