<div id="wrapper"> 
	<div id="page-wrapper">
		<div>
  		<div>
				<div class="col-md-4">
          <div class="panel" >
         		<div class="panel-body">
              <div>
            		<img class="img-responsive"
								<%= image_tag @profile.image.url(:medium) %>
								<h1><%= @profile.name %></h1>
								<p> <%= @profile.bio %></p>
							</div>
						</div> 
          </div>
						<p class="btn btn-primary btn-large">
					 		<%= link_to "Message", new_message_path(message_receiver_id: @profile.id)%>
						</p>
      	</div>

    		<div class="col-md-7" id="content">
          <div class="well text-center"> 
					  <p>put content here</p>
          </div>
				</div>

			</div>
		</div>
  </div>
</div>              
                  
