<div class="wrapper">
	<ul>
		<li>
			<%= link_to "Edit Profile", edit_profile_path(current_user.profile.id), class: "fa fa-fw fa-user" %>
		</li>

		<li>
			<%= link_to 'Delete Profile', user_registration_path, :confirm => 'Are you sure you want to destroy your account? Note: This will also get rid of all your photos and playlists.', :method => :delete, class: "fa fa-fw fa-trash-o" %>
		</li>
	</ul>
</div>
