html, body {
  overflow: visible;
}

.login-modal {
	background-image: url(/assets/concertdark.jpg);
	background-size: cover;
}

.modal-footer {
	border-top: 0px; 
}

.modal-content{
	background-color: "white";
}

.big {
	font-size: 3em;
}

.center {
	text-align: center;
}